body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fillmeright {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.fillmeleft {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

.login-form,
.signup-form {
    max-width: 350px;
    margin: auto;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 0px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

a:hover {
    cursor:pointer;
}

/*
.ticker {
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 1;
}

.ticker__field {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: $element-height;
    background-color: rgb(35, 35, 35);
    opacity: 0.85;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}

.ticker__field__text {
    line-height: 50px;
    font-size: 14px;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 3rem;
    padding-top: 0px;
    height: 40px;
}
a {
    text-decoration: none;
    color: #f4f4f4;
    padding-right: 3rem;
}

 */