.team-hacks-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.team-hacks-table th,
.team-hacks-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.team-hacks-table th {
    background-color: #f2f2f2;
}

.team-hacks-table input {
    text-align: right;

}